body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
    font-family: 'miFuente';
}

#map {  
    position: absolute;
    z-index: 1;
    bottom: 9%;
}

@font-face {
    font-family: miFuente;
    src: url(font/Roboto-Regular.ttf);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

#resjugpar{
    position: absolute;
    top: 145px;
    bottom: 20%;
    width: 92%;
    z-index: 1;
    padding-bottom: 50px;
}

#partpubli{
    position: absolute;
    top: 165px;
    bottom: 20%;
    width: 92%;
    z-index: 1;
    padding-bottom: 50px;
}

#resbusamigo{
    position: absolute;
    top: 70px;
    bottom: 20%;
    width: 92%;
    z-index: 1;
    padding-bottom: 50px;
}

#resamigo, #resmensa, #resmispartidos, #respartpri, #resjugage, #resagenda, #respimgch, #qplfoot, #rescomnt{
    position: absolute;
    top: 10%;
    bottom: 20%;
    width: 92%;
    z-index: 1;
    padding-bottom: 50px;
}

#resprguntas{
    position: absolute;
    top: 10%;
    bottom: 20%;
    width: 92%;
    z-index: 1;
    padding-bottom: 75px;
    display: table;
}

#espacer{
    width: 100%;
    height: 68px;
    border: 0px solid #000000;
}

.space{
    width: 100%;
    height: 60px;
}


.headerst2nw {
    width: 100%;
    min-height: 190px;
    display: block;
    position: absolute;
    z-index: 2;
    text-align: center;
}

.headerst {
    width: 100%;
    min-height: 190px;
    display: block;
    position: absolute;
    z-index: 2;
    background-image: url('../img/futbolista.jpg');
    background-size: cover;
}

.headerstdt {
    width: 100%;
    min-height: 245px;
    display: block;
    position: absolute;
    z-index: 2;
}

.headerst2 {
    width: 100%;
    min-height: 153px;
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: url('../img/fondodetpart.png');
    background-size: cover;
}

#resjugpar{
    padding-top: 20px;
}

.headerst3 {
    width: 100%;
    min-height: 50px;
    display: block;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #181818;
}

.subheader {
    width: 100%;
    border: 0px solid #000000;
    min-height: 45px;
    display: block;
}

.btleft {
    width: 20%;
    float: left;
    border: 0px solid #000000;
    min-height: 38px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
}

.perfiltop {
    width: 100%;
    float: left;
    border: 0px solid #fff;
    min-height: 70px;
    color: #ffffff;
}

.perfiltopr {
    width: 36%;
    margin: auto;
    border: 0px solid #fff;
    min-height: 70px;
    color: #ffffff;
    padding-top: 6px;
}

.icophoto{
    top: 0%;
    float: right;
    width: 30px;
    height: 30px;
    border: 0px solid #fff;
}

.perfiltopl {
    width: 65%;
    margin: auto;
    border: 0px solid #fff;
    min-height: 60px;
    color: #ffffff;
    text-align: center;
    padding-right: 12px;
    padding-top: 8px;
}

.btright {
    float: right;
    width: 20%;
    border: 0px solid #9e9e9e;
    min-height: 38px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
}

.btrightpf {
    float: right;
    width: 17%;
    border: 0px solid #9e9e9e;
    min-height: 38px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
}

.btcenter{
    float: left;
    width: 60%;
    min-height: 35px;
    padding-top: 18px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

.btcenterpf{
    float: left;
    width: 40%;
    border: 0px solid #9e9e9e;
    min-height: 35px;
    padding-top: 18px;
    color: #ffffff;
    text-align: right;
    font-size: 12px;
}

.btcentersearch{
    float: left;
    width: 77%;
    min-height: 35px;
    padding-top: 4px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}


.subtitulo{
    width: 89%;
    border: 0px solid #d1d1d1;
    border-radius: 6px;
    min-height: 95px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
    z-index: 2;
}

.subtitulobk{
    border: 0px solid #d1d1d1;
    width: 89%;
    border-radius: 6px;
    min-height: 85px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
    z-index: 2;
    text-align: center;
}

.blocksbtc{
    width: 33%;
    min-height: 60px;
    border: 0px solid #fff;
    float: left;
    text-align: center;
}

.blocksbt{
    width: 32%;
    min-height: 60px;
    border: 0px solid #fff;
    float: left;
}



.subtituloin{
    width: 83%;
    border-radius: 6px;
    min-height: 95px; 
    background-color: #181818;
    padding: 10px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}

.subtitulobus{
    width: 80%;
    border: 0px solid #d1d1d1;
    border-radius: 6px;
    min-height: 60px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
    z-index: 2;
    background-color: #181818;
    padding: 14px; 
}

.subtitulo2{
    width: 80%;
    border-radius: 8px;
    min-height: 95px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
    z-index: 2;
    padding-top: 4px;
    padding-right: 3px;
    padding-left: 3px;
}

.imgcenter{
    margin: 0 auto;
    width: 68px;
    height: 68px;
    border: 0px solid #d1d1d1;
    text-align: center;
}

.imgcepreg{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 0px solid #d1d1d1;
    text-align: center;
}

.textcenter{
    margin: 0 auto;
    width: 100%;
    min-height: 8px;
    border: 0px solid #d1d1d1;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.textcenter2{
    margin: 0 auto;
    width: 100%;
    min-height: 8px;
    border: 0px solid #d1d1d1;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dat1{
    width: 70px;
    height: 90px;
    border: 0px solid #2b2b2b;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    background-color: #0c0b0b;
    opacity: 0.8;
    border-radius: 8px;
}

.databajo{
    margin: 0 auto;
    width: 100%;
    min-height: 45px;
    border: 0px solid #d1d1d1;
    text-align: center;
    font-size: 14px;
}

.dat2{
    width: 100%;
    height: 20px;
    border: 0px solid #d1d1d1;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    color: #ffffff;
}


.textp {
    padding: 8px;
}

.miniimg {
    width: 50px;
    height: 50px;
    border: 0px solid #6e6e6e;
    float: left;
    border-radius: 50px;
}

.miniimgpepu {
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 3px solid #92ac02;
    border-radius: 50px;
}

.miniimglat {
    width: 66%;
    min-height: 50px;
    display: inline-block;
    border: 1px solid #fff;
}

.striped-border{
    width: 55%;
    min-height: 37px;
    display: inline-block;
    border-top: 4px solid #bbaf05;
    border-bottom: 1px solid rgb(128, 125, 125);
    border-left: 1px solid rgb(128, 125, 125);
    border-right: 1px solid rgb(128, 125, 125);
    font-size: 17px;
    padding-top: 6px;
}

.lbk{
    font-size: 12px;
    color: #0587bb;
    margin-bottom: 5px;
    width: 100%;
    border: 0px solid #fff;
    min-height: 17px;
}

.subminitileft {
    width: 18%;
    min-height: 43px;
    border-left: 1px solid #6e6e6e;
    float: right;
    font-size: 13px;
    text-align: center;
}
.subminitirig {
    width: 18%;
    min-height: 43px;
    border-right: 1px solid #6e6e6e;
    float: left;
    font-size: 13px;
    text-align: center;
}
.subminiti {
    width: 60%;
    min-height: 18px;
    border: 0px solid #fff;
    float: left;
    font-size: 13px;
    padding-top: 5px;
    text-align: left;
    color: rgb(120, 161, 6);
    padding-left: 6px;
}

.textminti {
    width: 60%;
    min-height: 18px;
    border: 0px solid #fff;
    float: left;
    font-size: 13px;
    text-align: left;
    font-weight:700;
    padding-left: 6px;
}

.subminitimp {
    width: 75%;
    min-height: 18px;
    border: 0px solid #fff;
    float: left;
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
    color: rgb(120, 161, 6);
}

.textmintimp {
    width: 75%;
    min-height: 18px;
    border: 0px solid #fff;
    float: left;
    font-size: 13px;
    text-align: center;
    font-weight:700;
}

.miniright {
    width: 26%;
    min-height: 40px;
    border: 0px solid #fff;
    float: right;
    text-align: center;
    font-size: 18px;
    color: #6f9b09;
    padding-top: 6px;
}

.textbajo1{
    width: 100%;
    min-height: 15px;
    border: 0px solid #6e6e6e;
    float: left;
}

.bajotit{
    width: 32%;
    min-height: 15px;
    border: 0px solid #fff;
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    color: rgb(120, 161, 6);
}

.bajo1{
    width: 32%;
    min-height: 15px;
    border-top: 1px solid #6e6e6e;
    float: left;
    font-weight:700;
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
}

.bajotit2{
    width: 32%;
    min-height: 15px;
    border: 1px solid #fff;
    float: right;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
}

.bajo2{
    width: 48%;
    min-height: 15px;
    border: 0px solid #6e6e6e;
    float: right;
    font-weight:700;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    color: rgb(114, 114, 114);
    text-align: center;
    background-color: #181818;
    position: absolute;
    z-index: 2;
}


.cajabtnchat{
    width: 15%;
    height: 55px;
    float: right;
    border: 0px solid #ffffff;
    padding-top: 18px;
    padding-right: 2px;
}

.msgchatlf{
    width: 65%;
    min-height: 38px;
    background-color: #323331;
    color: #FFF;
    border-radius: 0px 12px 12px 12px;
    float: left;
    margin-top: 8px;
    text-align: left;
}

.msgchatrg{
    width: 69%;
    min-height: 38px;
    background-color: #454747;
    color: rgb(255, 255, 255);
    border-radius: 12px 0px 12px 12px;
    float: right;
    margin-top: 8px;
    text-align: right;
    padding-right: 16px;
}

#mmjfech{
    float: right;
    font-size: 13px;
    text-align: right;
    padding-right: 3px;
}

.msgnom{
    width: 100%;
    min-height: 20px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.msgtext{
    width: 100%;
    min-height: 20px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    color: #FFF;
    font-size: 14px;
}

.minifh{
    font-size: 13px;
    color: #c8c8c8;
    padding-left: 5px;
}

.foobtn{
    width: 40px;
    height: 30px;
    border: 0px solid #313131;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
}


.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.label1{
    font-size: 14px;
    color:#ffffff;
}

.cajaform{
    float: left;
    min-height: 20px;
    padding: 3px;
    border: solid 0px #696767;
}

.card{
    width: 97%;
    min-height: 130px;
    border: solid 1px #252525;
    margin: 0 auto;
    background-color: #0c0b0b;
    border-bottom: solid 1px #252525;
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
    opacity: 0.9;
}

#agecard{
    width: 100%;
    min-height: 85px;
    border: solid 0px #f7f7f7;
    margin: 0 auto;
    background-color: #0c0b0b;
    border-bottom: solid 1px #252525;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 6px;
    opacity: 0.9;
    color: #fff;
}

.cardmensaje{
    width: 95%;
    min-height: 90px;
    border: solid 1px #252525;
    margin: 0 auto;
    background-color: #181818;
    border-bottom: solid 1px #212121;
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
    opacity: 0.9;
}

.cardl{
    width: 78%;
    min-height: 80px;
    border: solid 0px #383838;
    float: left;
}

.cardr{
    width: 20%;
    min-height: 80px;
    float: right;
    text-align: center;
}

.ltpart{
    width: 88%;
    height: 18px;
    border-radius: 8px;
    background-color: #6f9b09;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-top: 2px;
}
.cardfechhora{
    width: 85%;
    min-height: 28px;
    border: solid 0px #fff;
    float: left;
    font-weight: bolder;
    padding-top: 3px;
    padding-left: 4px;
}

.icocard{
    width: 10%;
    min-height: 10px;
    border: solid 0px #383838;
    float: left;
    padding-left: 8px;
}

.cardlugar{
    width: 83%;
    min-height: 28px;
    border-bottom: solid 1px #cecece;
    float: left;
    padding-top: 3px;
    padding-left: 4px;
}

.cuadrobajo{
    width: 45%;
    min-height: 25px;
    border: solid 0px #fff;
    float: left;
    margin-top: 2px;
    padding-top: 3px;
    padding-left: 10px;
}

.titmen{
    width: 95%;
    min-height: 25px;
    border-bottom: dotted 1px #7c7c7c;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

.mensa{
    width: 95%;
    min-height: 25px;
    border-bottom: dotted 1px #7c7c7c;
    margin: 0 auto;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}

.opmen{
    width: 100%;
    min-height: 25px;
    padding-top: 3px;
}

.opace{
    width: 45%;
    float: left;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 3px;
}

.oprec{
    float: right;
    width: 45%;
    text-align: right;
    padding-right: 8px;
    padding-bottom: 3px;
}

a{
    text-decoration: none;
    font-size: 12px;
    color: #6f9b09;
}

.icodt{

    width: 19%;
    min-height: 30px;
    border-bottom: dotted 1px #c4c4c4;
    float: left;
    text-align: center;
    padding-top: 6px;
    color: rgb(68, 68, 68);

}

.textdt{

    width: 79%;
    min-height: 30px;
    border-bottom: dotted 1px #c4c4c4;
    float: left;
    text-align: right;
    padding-top: 6px;
    font-size: 14px;

}


input[type=range] {
    width: 100%;
    margin: 13px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #0587bb;
    border: 0.2px solid #3a3939;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -14px;
    width: 14px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #3a3939;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0587bb;
  }
  input[type=range]::-moz-range-track {
    background: #0587bb;
    border: 0.2px solid #3a3939;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #3a3939;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #0587bb;
    border: 0.2px solid #3a3939;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #0587bb;
    border: 0.2px solid #3a3939;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 16px;
    height: 36px;
    background: #ffffff;
    border: 1px solid #3a3939;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #0587bb;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #0587bb;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }


  .cardamigo{
    width: 100%;
    min-height: 88px;
    border: solid 1px #252525;
    margin: 0 auto;
    background-color: #181818;
    border-bottom: solid 1px #212121;
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
    opacity: 0.9;
}

.cardcoment{
    width: 100%;
    min-height: 88px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
    opacity: 0.9;
}

  .amigobajo{
      width: 100%;
      min-height: 20px;
      padding-top: 8px;
      font-size: 14px;
  }

.imgami{
    width: 25%;
    min-height: 70px;
    float: left;
    padding: 6px;
}

.imgamipreg{
    width: 20%;
    min-height: 58px;
    float: left;
    padding: 3px;
    padding-top: 12px;
}

.nomami{
    width: 45%;
    min-height: 20px;
    float: left;
    font-size: 14px;
    text-align: unset;
    margin-top: 15px;
}

.nomamic{
    width: 55%;
    min-height: 20px;
    float: left;
    font-size: 14px;
    text-align: unset;
    margin-top: 10px;
}

.nomamipr{
    width: 67%;
    min-height: 20px;
    float: left;
    font-size: 14px;
    text-align: unset;
    margin-top: 12px;
    color: rgb(7, 173, 214);
}

.contrp{
    color: #b9b7b7;
    font-size: 11px;
}

.pregpr{
    width: 67%;
    min-height: 20px;
    float: left;
    font-size: 12px;
    padding-top: 1px;
}

.icoreply{
    width: 9%;
    min-height: 58px;
    float: right;
    padding-right: 2px;
    padding-top: 28px;
}

.bxresp{
    width: 95%;
    min-height: 20px;
    text-align: left;
    padding: 5px;
    font-size: 13px;
    margin-left: 4px;
    border-top: 1px solid #575656;
    background-color: #1f1e1e;
    margin-bottom: 3px;
}

.respin{
    color: #6dac08;
}

.usuami{
    width: 45%;
    min-height: 20px;
    float: left;
}

.usuamic{
    width: 68%;
    min-height: 10px;
    float: left;
    border: solid 0px #FFF;
    font-size: 12px;
}

.opami{
    width: 15%;
    min-height: 55px;
    float: right;
    text-align: center;
    padding-top: 20px;
    border: solid 0px #FFF;
}

.ciropami{
    width: 42px;
    height: 30px;
    border: 1px solid #444343;
    padding-top: 12px;
    text-align: center;
}

.cjest{
    width: 55%;
    height: 18px;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}

.aami{
    text-decoration: none;
    border: solid 0px #949494;
    padding: 8px;
    border-radius: 8px;
    color: #3b5803;
}

.jgdet{
    width: 100%;
    min-height: 64px;
    float: right;
    text-align: center;
    border: solid 0px #949494;
}

.transdv{
    color: #ffffff;
    width: 96%;
    margin: 0 auto;
    min-height: 220px;
    background-color: #0c0b0b;
    opacity: 0.9;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    float: inline-start
}

.backimgindex{
    background-image: url('../img/soccer-ball-16.jpg');
    background-size: cover;
}

.backimg{
    background-image: url('../img/football-19.jpg');
    background-size: cover;
}

.backimg2{
    background-image: url('../img/football-19.jpg');
    background-size: cover;
}


.lbsk{
    width: 25px;
    height: 10px;
    border-radius: 3px;
    padding: 1px;
    padding-bottom: 1px;
    float: right;
    text-align: center;
    font-size: 10px;
}

.djtop1{
    float: left;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding-top: 3px;
}

.djlef1{
    float: left;
    width: 25%;
    height: 180px;
    text-align: center;
    font-size: 9px;
}

.djbajo{
    float: left;
    width: 48%;
    min-height: 50px;
}

.djrig1{
    float: left;
    width: 25%;
    height: 180px;
    text-align: center;
    font-size: 9px;
}

.djbott1{
    float: left;
    width: 100%;
    height: 18px;
    text-align: center;
    font-size: 9px;
}

.djrg, .djat{
    width: 100%;
    height: 18px;
    float: left;
    padding-top: 40px;
}

.djdf, .djps{
    width: 100%;
    height: 18px;
    float: left;
    padding-top: 55px;
}

.notfound{
    width: 50%;
    margin: 0 auto;
    height: 70px;
    background-color: #0c0b0b;
    opacity: 0.9;
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
    border-radius: 12px;
}

.agefecha{
    width: 20%;
    min-height: 63px;
    background-color: #03577e;
    border: solid 1px rgb(1, 27, 77);
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    font-weight: 900;
    float: left;
    margin-top: 3px;
}

.agefecha2{
    width: 20%;
    min-height: 63px;
    background-color: #4f8805;
    border: solid 1px rgb(44, 99, 7);
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    font-weight: 900;
    float: left;
    margin-top: 3px;
}

.agedata{
    width: 75%;
    min-height: 60px;
    background-color: #1b1b1b;
    border: solid 0px #fcfcfc;
    font-size: 13px;
    text-align: left;
    padding: 4px;
    float: left;
    margin-left: 4px;
    margin-top: 3px;
}

.finline{
    width: 100%;
    min-height: 2px;
    color: #1f1f1e;
}

.ageico{
    float: right;
    width: 12%;
    min-height: 15px;
    text-align: center;
    padding-top: 24px;
    border: solid 0px #fcfcfc;
}

.alink{
    text-decoration: none;
    color: #FFF;
}

.badgemsj{
    position: fixed;
    width: 24px;
    height: 24px;
    top: 20px;
    padding-left: 5px;
    font-size: 11px;
    text-align: center;
}

.colbadg{
    width: 24px;
    height: 24px;
    background-color: #be2c07;
    border: 1px solid #be2c07;
    border-radius: 50px;
    color: #fff;
    padding: 3px 6px 3px 6px;
}

.ulamigo, li{
    height: 25px;
    opacity: 0.9;
}

.iniciotext{
    background-image: url('../img/playfootlogov3.png');
    background-size: cover;
}

.mensabox{
    width: 97%;
    min-height: 50px;
    margin: 0 auto;
    border: 0px solid #ffffff;
    margin-left: 5px;
    margin-bottom: 8px;
}

.msgboximg{
    width: 53px;
    min-height: 53px;
    border-radius: 50%;
    display: inline-block;
}
.msgboximgp{
    float: left;
    color: #fff;
    padding-left: 12px;
    font-size: 20px;
    padding-top: 12px;
}

.msgboxctn{
    width: 77%;
    min-height: 55px;
    border: 0px dotted #ffffff;
    display: inline-block;
    text-align: left;
    background-color: #2c2f30;
    padding: 3px;
    border-radius: 8px;
    margin-left: 3px;
}

.msgusu{
    width: 100%;
    height: 15px;
    border: 0px dotted #ffffff;
    font-size: 14px;
    border-radius: 8px;
    background-color: #2d3133;
    padding-left: 3px;
    font-weight: 900;
    color: #1081a3;
}

.msgcnt{
    width: 100%;
    min-height: 38px;
    border: 0px dotted #ffffff;
    font-size: 14px;
    padding: 4px;
}

.msgcnt, p{
    margin: 0%;
}

.msgfec{
    width: 100%;
    height: 15px;
    border: 0px dotted #ffffff;
    font-size: 13px;
    padding-top: 2px;
    border-radius: 8px;
    background-color: #2d3133;
    padding-left: 3px;
}

.pfjdcj{
    width: 31%;
    min-height: 40px;
    display: inline-block;
    padding-top: 3px;
}

.pftit{
    font-size: 10px;
    color: #63aa06;
}

.subtitpf{
    width: 48%;
    border-bottom: 1px solid rgb(107, 106, 106);
    padding-bottom: 4px;
    display: inline-block;
}

.subtitpfic{
    width: 48%;
    border-bottom: 1px solid rgb(107, 106, 106);
    padding-bottom: 4px;
    display: inline-block;
    text-align: right;
}

.boxpartido{
    width: 100%;
    min-height: 70px;
    border: 1px solid #181818;
    background-color: #181818;
    opacity: 0.9;
    padding: 3px;
    border-radius: 8px;
    margin-bottom: 3px;
}

.boxsubtpt{
    width: 49%;
    display: inline-block;
    font-size: 12px;
    background-color: #5ea304;
    text-align: center;
    border-radius: 4px;
}

.boxsubtptbj{
    width: 49%;
    display: inline-block;
    font-size: 12px;
    background-color: #05628d;
    text-align: center;
    border-radius: 4px;
}

.bxtitulo{
    width: 87%;
    min-height: 20px;
    display: inline-block;
    border-bottom: 1px solid rgb(59, 58, 58);
    font-size: 13px;
    padding-left: 8px;
}

.bxico{
    width: 8%;
    min-height: 18px;
    display: inline-block;
    padding-top: 2px;
}

.cancha{
    width: 100%;
    min-height: 300px;
    border-bottom: 5px solid #fff;
    background-image: url('../img/fondocancha.png');
    background-size: cover;
    text-align: center;
    padding-top: 8px;
}

.bkarq{
    width: 100%;
    min-height: 50px;
    border: solid 0px #FFF;
    text-align: center;
}

.bkply{
    width: 18%;
    min-height: 60px;
    border: solid 0px #FFF;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px 55px;
    background-position: center;
}

.bkj{
    background-image: url('../img/camiseta.png');
}

.bkp{
    background-image: url('../img/camisetap.png');
}

.nju{
    width: 100%;
    min-height: 15px;
    border: solid 1px #FFF;
    background-color: #ffffff;
    font-size: 13px;
    color: #555555;
    border-radius: 4px;
    padding: 2px;
}

.cajapl{
    width: 100%;
    min-height: 20px;
    border: solid 0px #FFF;
    display: inline-block;
}

#selforma{
    width: 100%;
    min-height: 40px;
    background-color: #302d2c;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 4px;
    border-color: #2c2f30;
}